## R Code

source("../ref/base.R")

lib_eval("magrittr")

fig3.a <- readRDS("../data/rdata/figure3a.RDS")

#Table S2
fig3.a %>% 
aggregate(value~strata+key, 
          data=., 
          FUN=function(x) (paste(mean(x)%>%round(0), sd(x)%>%round(0))))

## Python Code

In [1]:
# We need to install pyreadr 
! pip3 install pyreadr

Requirement already satisfied: pyreadr in /usr/local/lib/python3.7/site-packages (0.2.2)

In [2]:
# Import
import pyreadr

# Load data
load_rds = pyreadr.read_r("../data/rdata/figure3a.RDS")

# convert to dataframe
fig3_a =load_rds[None]

In [3]:
fig3_a

      strata          key  value
0        4.0        Water    0.0
1        4.0        Water    0.0
2        4.0        Water   41.5
3        4.0        Water    4.0
4        4.0        Water    0.0
...      ...          ...    ...
9892     6.0  Electricity   90.0
9893     6.0  Electricity  112.5
9894     6.0  Electricity  112.5
9895     6.0  Electricity  112.5
9896     6.0  Electricity  112.5

[9897 rows x 3 columns]

In [4]:
fig3_a.aggregate(['mean', 'std'])

        strata      value
mean  4.627160  64.251895
std   2.261685  38.500686

In [5]:
fig3_a.aggregate(['mean', 'std']).round(0)

      strata  value
mean     5.0   64.0
std      2.0   39.0