In [ ]:
import sys
!{sys.executable} -m pip install pyreadr

In [29]:
import pyreadr
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
household = pyreadr.read_r("~/pr_mort_official/data/rdata/hh_main.RDS")
print(household.keys())

odict_keys([None])

In [3]:
df1 = household[None]
print(df1)

     hh_id   id house_status consent  hh_size access_med.no_911  \
0       10  575          ---       1      3.0                99
1      100  630          ---       1      3.0                99
2     1000  717            1       1      3.0                99
3     1001  856            1       1      2.0                99
4     1002  475            1       1      3.0                99
...    ...  ...          ...     ...      ...               ...
3294   994  856            1       1      3.0                99
3295   996  491            1       1      1.0                99
3296   997  856            1       1      4.0                 0
3297   998  475            1       1      1.0                99
3298   999  475            1       1      4.0                99

     access_med.no_transport access_med.roads_damaged  \
0                         99                       99
1                         99                       99
2                         99                       99
3                         99                       99
4                         99                       99
...                      ...                      ...
3294                      99                       99
3295                      99                       99
3296                       0                        0
3297                      99                       99
3298                      99                       99

     access_med.facility_closed access_med.no_doctors  ... cell.sept cell.oct  \
0                            99                    99  ...         2        4
1                            99                    99  ...         2        4
2                            99                    99  ...         3        4
3                            99                    99  ...         2        4
4                             1                     3  ...         2        2
...                         ...                   ...  ...       ...      ...
3294                         99                    99  ...         2        4
3295                          1                     1  ...         3        4
3296                          0                    99  ...         2        3
3297                         99                    99  ...       ---      ---
3298                         99                    99  ...         2        4

     cell.nov cell.dec mort_neighbor left_neighbor neighbors_num strata flag  \
0           4        0            99           ---             3    1.0  0.0
1           2        0            99           ---             3    5.0  0.0
2           4        3            99             6             2    2.0  1.0
3           4        3             0             0             4    6.0  1.0
4           0        0             0             3             3    4.0  1.0
...       ...      ...           ...           ...           ...    ...  ...
3294        3        0             0             0             2    6.0  1.0
3295        4        3             5             0             2    2.0  1.0
3296        0        0             1             4             1    6.0  1.0
3297      ---      ---             0             2             1    4.0  1.0
3298        1        0             2             2             3    4.0  1.0

     mun_id
0       3.0
1      15.0
2      22.0
3      11.0
4      21.0
...     ...
3294   11.0
3295   22.0
3296   11.0
3297   21.0
3298   21.0

[3299 rows x 46 columns]

In [4]:
individuals = pyreadr.read_r("~/pr_mort_official/data/rdata/individuals.RDS")
print(individuals.keys())

odict_keys([None])

In [5]:
df2 = individuals[None]
print(df2)

     hh_id  hh_id__1 gender   age lived_movedin movedin_month  \
0       10       0.0      1  71.0             1           ---
1       10       1.0      0  50.0             1           ---
2       10       2.0      1  31.0             1           ---
3      100       0.0      0  68.0             1           ---
4      100       1.0      1  37.0             1           ---
...    ...       ...    ...   ...           ...           ...
9517   998       0.0      1  64.0             1           ---
9518   999       0.0      0  47.0             1           ---
9519   999       1.0      1  54.0             1           ---
9520   999       2.0      1  12.0             1           ---
9521   999       3.0      1  14.0             1           ---

     movedin_bc_hurricane status missing_month left_month left_b_p_hurricane  \
0                     ---      1           ---        ---                ---
1                     ---      1           ---        ---                ---
2                     ---      1           ---        ---                ---
3                     ---      1           ---        ---                ---
4                     ---      1           ---        ---                ---
...                   ...    ...           ...        ...                ...
9517                  ---      1           ---        ---                ---
9518                  ---      1           ---        ---                ---
9519                  ---      1           ---        ---                ---
9520                  ---      1           ---        ---                ---
9521                  ---      1           ---        ---                ---

     left_bc_hurricane left_first left_final hh_mem_num
0                  ---        ---        ---          1
1                  ---        ---        ---          2
2                  ---        ---        ---          3
3                  ---        ---        ---          1
4                  ---        ---        ---          2
...                ...        ...        ...        ...
9517               ---        ---        ---          1
9518               ---        ---        ---          1
9519               ---        ---        ---          2
9520               ---        ---        ---          3
9521               ---        ---        ---          4

[9522 rows x 15 columns]

In [6]:
death = pyreadr.read_r("~/pr_mort_official/data/rdata/deaths.RDS")
print(death.keys())

odict_keys([None])

In [7]:
df3 = death[None]
print(df3)

   hh_id  hh_id__1 died_month died_b_p_hurricane cause_of_death  \
0   1061       4.0         12                ---              0
1   1085       1.0         10                ---              8
2   1387       2.0         11                ---              8
3   1400       0.0         11                ---             99
4   1402       1.0          2                ---            ---
5   1427       4.0         12                ---              4
6   1521       1.0          4                ---            ---
7   1585       1.0         11                ---             99
8    160       2.0         10                ---             99
9   1678       2.0         10                ---              8
10  1728       2.0          9                  1            ---
11  1757       1.0         12                ---              0
12  1776       1.0         11                ---              8
13   182       1.0         12                ---              8
14  1873       1.0         12                ---              0
15  1928       1.0          3                ---            ---
16  1943       1.0         10                ---              0
17   197       2.0          8                ---            ---
18  2204       1.0         12                ---              8
19  2302       1.0         12                ---              0
20  2365       0.0          7                ---            ---
21    24       1.0          9                  1            ---
22  2468       0.0         10                ---             99
23   248       0.0          9                  2              8
24   266       2.0         12                ---              0
25  2807       0.0          7                ---            ---
26  2874       1.0         11                ---              0
27  3132       2.0         12                ---              0
28  3152       2.0         11                ---              8
29  3161       0.0          2                ---            ---
30  3258       1.0         11                ---             99
31  3293       2.0         10                ---              0
32  3352       0.0          1                ---            ---
33   343       1.0         11                ---              0
34  3435       0.0          9                  2              9
35  3614       0.0         11                ---             10
36   367       1.0         12                ---              9
37   368       1.0         12                ---              8
38   371       3.0          9                  2             99
39   525       1.0          1                ---            ---
40   597       0.0         11                ---             99
41     6       1.0          8                ---            ---
42   622       1.0          4                ---            ---
43   634       2.0          9                  2             99
44   658       0.0          5                ---            ---
45   709       2.0         10                ---             99
46   765       1.0         11                ---              0
47   805       3.0         10                ---              0
48   807       1.0          6                ---            ---
49   827       1.0         11                ---              8
50   864       2.0          9                  2              8
51   889       2.0         12                ---              9
52   919       5.0          4                ---            ---
53   929       2.0          1                ---            ---
54   929       3.0          1                ---            ---
55   981       4.0         10                ---              8

                                    cause_of_death_ot    mo    age
0                                                 ---  12.0   81.0
1                                                 ---  10.0   60.0
2                                                 ---  11.0  101.0
3                                             Infarto  11.0   54.0
4                                                 ---   2.0   69.0
5                                                 ---  12.0   90.0
6                                                 ---   4.0   75.0
7                                     cáncer terminal  11.0   81.0
8                                              cancer  10.0   56.0
9                                                 ---  10.0   74.0
10                                                ---   9.1   90.0
11                                                ---  12.0   88.0
12                                                ---  11.0   75.0
13                                                ---  12.0   62.0
14                                                ---  12.0   47.0
15                                                ---   3.0   78.0
16                                                ---  10.0   55.0
17                                                ---   8.0   87.0
18                                                ---  12.0   66.0
19                                                ---  12.0   69.0
20                                                ---   7.0   81.0
21                                                ---   9.1   66.0
22                                      leptospirosis  10.0   62.0
23                                                ---   9.2   68.0
24                                                ---  12.0   73.0
25                                                ---   7.0   75.0
26                                                ---  11.0   82.0
27                                                ---  12.0   80.0
28                                                ---  11.0   79.0
29                                                ---   2.0   87.0
30                                    murió de cancer  11.0   60.0
31                                                ---  10.0   87.0
32                                                ---   1.0   69.0
33                                                ---  11.0   86.0
34                                                ---   9.2   91.0
35                                                ---  11.0   39.0
36                                                ---  12.0   58.0
37                                                ---  12.0   72.0
38                                             cáncer   9.2   77.0
39                                                ---   1.0   83.0
40                           problemas de los riñones  11.0   88.0
41                                                ---   8.0   81.0
42                                                ---   4.0   95.0
43  Complicaciones de úlceras y condiciones de sal...   9.2   87.0
44                                                ---   5.0   92.0
45  complicaciones de salud de paciente en estado ...  10.0   89.0
46                                                ---  11.0   74.0
47                                                ---  10.0   70.0
48                                                ---   6.0   81.0
49                                                ---  11.0   91.0
50                                                ---   9.2   54.0
51                                                ---  12.0   58.0
52                                                ---   4.0   73.0
53                                                ---   1.0   53.0
54                                                ---   1.0   48.0
55                                                ---  10.0   82.0

In [8]:
left = pyreadr.read_r("~/pr_mort_official/data/rdata/left_df.RDS")
print(left.keys())

odict_keys([None])

In [9]:
df4 = left[None]
print(df4)

    left  age_cat  count      prop                                 left_cat
0    0.0   [0,10)    666  0.074074          Still in household/Died in 2017
1    0.0  [10,20)    879  0.097764          Still in household/Died in 2017
2    0.0  [20,30)   1058  0.117673          Still in household/Died in 2017
3    0.0  [30,40)    901  0.100211          Still in household/Died in 2017
4    0.0  [40,50)    962  0.106996          Still in household/Died in 2017
5    0.0  [50,60)   1352  0.150373          Still in household/Died in 2017
6    0.0  [60,70)   1471  0.163608          Still in household/Died in 2017
7    0.0  [70,80)   1112  0.123679          Still in household/Died in 2017
8    0.0      80+    590  0.065621          Still in household/Died in 2017
9    1.0   [0,10)     84  0.158192  Left in 2017 and did not return/Missing
10   1.0  [10,20)     61  0.114878  Left in 2017 and did not return/Missing
11   1.0  [20,30)    169  0.318267  Left in 2017 and did not return/Missing
12   1.0  [30,40)     68  0.128060  Left in 2017 and did not return/Missing
13   1.0  [40,50)     47  0.088512  Left in 2017 and did not return/Missing
14   1.0  [50,60)     48  0.090395  Left in 2017 and did not return/Missing
15   1.0  [60,70)     20  0.037665  Left in 2017 and did not return/Missing
16   1.0  [70,80)     17  0.032015  Left in 2017 and did not return/Missing
17   1.0      80+     17  0.032015  Left in 2017 and did not return/Missing

In [10]:
utilities = pyreadr.read_r("~/pr_mort_official/data/rdata/resources_df.RDS")
print(utilities.keys())

odict_keys([None])

In [11]:
df5 = utilities[None]
print(df5)

    strata              resource     values         sd  length  \
0      1.0  electricity_tot_mean  61.851312  34.974904   343.0
1      2.0  electricity_tot_mean  80.451852  31.910546   405.0
2      3.0  electricity_tot_mean  71.737981  34.289639   416.0
3      4.0  electricity_tot_mean  77.916468  30.995835   419.0
4      5.0  electricity_tot_mean  86.317073  26.289938   410.0
5      6.0  electricity_tot_mean  78.962719  27.821107   456.0
6      7.0  electricity_tot_mean  87.070352  24.632719   398.0
7      8.0  electricity_tot_mean  91.042035  26.043721   452.0
8      1.0        water_tot_mean  24.411079  30.528533   343.0
9      2.0        water_tot_mean  26.864198  29.720127   405.0
10     3.0        water_tot_mean  33.353365  33.259442   416.0
11     4.0        water_tot_mean  37.747017  32.808754   419.0
12     5.0        water_tot_mean  38.324390  34.263179   410.0
13     6.0        water_tot_mean  39.697368  36.066247   456.0
14     7.0        water_tot_mean  45.464824  37.322241   398.0
15     8.0        water_tot_mean  48.252212  36.342277   452.0
16     1.0         cell_tot_mean  54.075802  38.180781   343.0
17     2.0         cell_tot_mean  58.624691  33.841760   405.0
18     3.0         cell_tot_mean  56.740385  36.400581   416.0
19     4.0         cell_tot_mean  62.121718  35.792624   419.0
20     5.0         cell_tot_mean  67.443902  33.377196   410.0
21     6.0         cell_tot_mean  63.010965  33.375221   456.0
22     7.0         cell_tot_mean  75.040201  32.794043   398.0
23     8.0         cell_tot_mean  69.690265  33.067647   452.0

         resource_cat
0         Electricity
1         Electricity
2         Electricity
3         Electricity
4         Electricity
5         Electricity
6         Electricity
7         Electricity
8               Water
9               Water
10              Water
11              Water
12              Water
13              Water
14              Water
15              Water
16  Cellular Coverage
17  Cellular Coverage
18  Cellular Coverage
19  Cellular Coverage
20  Cellular Coverage
21  Cellular Coverage
22  Cellular Coverage
23  Cellular Coverage

In [12]:
household_indexed_df1 = df1.set_index(['access_med.no_911', 'access_med.no_transport', 'access_med.roads_damaged', 
                 'access_med.facility_closed', 'access_med.no_doctors', 'access_med.no_dialysis',
                 'access_med.no_resp_mach', 'access_med.no_meds', 'access_med.couldnt_afford',
                 'access_med.ot_reasons'])
household_indexed_df = household_indexed_df1.sort_index()
print(household_indexed_df)

                                                                                                                                                                                                                                                                   hh_id  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                    92
                                                                                                                    99                     0                       0                  0                         NA                                                   646
                                                                                                                                           4                       0                  0                         NA                                                  1885
                                                                                                                                           5                       0                  0                         NA                                                   167
                                                                                                                                                                   99                 99                        NA                                                   182
...                                                                                                                                                                                                                                                                  ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                   998
                                                                                                                                                                                                                NA                                                   999
                                                                                                                                                                                                                Obtuvo bacteria en su pierna debido a las aguas...   459
                                                                                                                                                                                                                Problemas para mantener el medicamento               573
                                                                                                                                                                                                                went to Florida during the hurricane and return...   861

                                                                                                                                                                                                                                                                     id  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                  100
                                                                                                                    99                     0                       0                  0                         NA                                                  495
                                                                                                                                           4                       0                  0                         NA                                                  110
                                                                                                                                           5                       0                  0                         NA                                                  805
                                                                                                                                                                   99                 99                        NA                                                  365
...                                                                                                                                                                                                                                                                 ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                  475
                                                                                                                                                                                                                NA                                                  475
                                                                                                                                                                                                                Obtuvo bacteria en su pierna debido a las aguas...  630
                                                                                                                                                                                                                Problemas para mantener el medicamento              289
                                                                                                                                                                                                                went to Florida during the hurricane and return...  630

                                                                                                                                                                                                                                                                   house_status  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                          ---
                                                                                                                    99                     0                       0                  0                         NA                                                          ---
                                                                                                                                           4                       0                  0                         NA                                                          ---
                                                                                                                                           5                       0                  0                         NA                                                          ---
                                                                                                                                                                   99                 99                        NA                                                          ---
...                                                                                                                                                                                                                                                                         ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                            1
                                                                                                                                                                                                                NA                                                            1
                                                                                                                                                                                                                Obtuvo bacteria en su pierna debido a las aguas...          ---
                                                                                                                                                                                                                Problemas para mantener el medicamento                      ---
                                                                                                                                                                                                                went to Florida during the hurricane and return...          ---

                                                                                                                                                                                                                                                                   consent  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                       1
                                                                                                                    99                     0                       0                  0                         NA                                                       1
                                                                                                                                           4                       0                  0                         NA                                                       1
                                                                                                                                           5                       0                  0                         NA                                                       1
                                                                                                                                                                   99                 99                        NA                                                       1
...                                                                                                                                                                                                                                                                    ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                       1
                                                                                                                                                                                                                NA                                                       1
                                                                                                                                                                                                                Obtuvo bacteria en su pierna debido a las aguas...       1
                                                                                                                                                                                                                Problemas para mantener el medicamento                   1
                                                                                                                                                                                                                went to Florida during the hurricane and return...       1

                                                                                                                                                                                                                                                                    hh_size  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                      1.0
                                                                                                                    99                     0                       0                  0                         NA                                                      2.0
                                                                                                                                           4                       0                  0                         NA                                                      3.0
                                                                                                                                           5                       0                  0                         NA                                                      3.0
                                                                                                                                                                   99                 99                        NA                                                      4.0
...                                                                                                                                                                                                                                                                     ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                      1.0
                                                                                                                                                                                                                NA                                                      4.0
                                                                                                                                                                                                                Obtuvo bacteria en su pierna debido a las aguas...      1.0
                                                                                                                                                                                                                Problemas para mantener el medicamento                  4.0
                                                                                                                                                                                                                went to Florida during the hurricane and return...      2.0

                                                                                                                                                                                                                                                                   access_med.access_other  \
access_med.no_911 access_med.no_transport access_med.roads_damaged access_med.facility_closed access_med.no_doctors access_med.no_dialysis access_med.no_resp_mach access_med.no_meds access_med.couldnt_afford access_med.ot_reasons
0                 0                       0                        0                          0                     0                      0                       0                  0                         NA                                                                       1
                                                                                                                    99                     0                       0                  0                         NA                                                                       0
                                                                                                                                           4                       0                  0                         NA                                                                       0
                                                                                                                                           5                       0                  0                         NA                                                                       0
                                                                                                                                                                   99                 99                        NA                                                                       1
...                                                                                                                                                                                                                                                                                    ...
99                99                      99                       99                         99                    99                     99                      99                 99                        NA                                                                       0
                                                                                                                                                                                                                NA                                                                       0

In [13]:
household_df_melt = pd.melt(household_indexed_df)
print(household_df_melt)

       variable value
0         hh_id    92
1         hh_id   646
2         hh_id  1885
3         hh_id   167
4         hh_id   182
...         ...   ...
118759   mun_id    21
118760   mun_id    21
118761   mun_id    15
118762   mun_id     5
118763   mun_id    15

[118764 rows x 2 columns]

In [18]:
household_table_1 = household_indexed_df.pivot_table(index = 'access_med.no_911', margins=True, aggfunc=np.mean) 

print(household_table_1)

                       flag   hh_size     mun_id    strata
access_med.no_911
0                  0.542373  2.796610  25.813559  4.542373
1                  0.720000  3.120000  27.320000  4.480000
2                  0.625000  3.250000  25.125000  3.875000
3                  0.714286  3.500000  34.214286  5.214286
4                  0.900000  3.100000  35.300000  5.000000
5                  0.875000  3.625000  35.625000  6.625000
6                  0.714286  3.428571  28.857143  3.857143
99                 0.716225  2.878788  29.011679  4.624684
All                0.713853  2.886329  28.989088  4.627160

In [49]:
household_table_1.sem(axis = 1)

access_med.no_911
0      5.854139
1      6.185690
2      5.679224
3      7.822998
4      8.118331
5      8.065084
6      6.584485
99     6.616405
All    6.610299
dtype: float64

In [19]:
household_table_2 = household_indexed_df.pivot_table(index = 'access_med.no_transport', margins=True, aggfunc=np.mean) #'access_med.roads_damaged', 

print(household_table_2)

                             flag   hh_size     mun_id    strata
access_med.no_transport
0                        0.662162  2.770270  27.337838  4.581081
1                        0.454545  3.454545  20.272727  3.181818
2                        0.727273  2.818182  34.636364  4.727273
3                        0.565217  2.434783  27.347826  4.434783
4                        0.818182  3.090909  31.681818  5.636364
5                        0.739130  3.565217  33.565217  6.260870
6                        0.720000  2.720000  28.600000  5.200000
99                       0.716077  2.885531  29.001608  4.610611
All                      0.713853  2.886329  28.989088  4.627160

In [48]:
household_table_2.sem(axis = 1)

access_med.no_transport
0      6.218434
1      4.528206
2      8.011442
3      6.267383
4      7.192631
5      7.594985
6      6.494949
99     6.614207
All    6.610299
dtype: float64

In [20]:
household_table_3 = household_indexed_df.pivot_table(index = 'access_med.roads_damaged', margins=True, aggfunc=np.mean) # 

print(household_table_3)

                              flag   hh_size     mun_id    strata
access_med.roads_damaged
0                         0.694444  2.736111  28.263889  4.750000
1                         0.611111  3.555556  24.333333  4.166667
2                         0.714286  3.107143  29.642857  4.785714
3                         0.680851  3.042553  28.117021  4.914894
4                         0.803030  3.196970  34.984848  5.772727
5                         0.880952  2.988095  35.607143  6.250000
6                         0.555556  2.666667  18.555556  4.444444
99                        0.709699  2.869536  28.764344  4.544399
All                       0.713853  2.886329  28.989088  4.627160

In [47]:
household_table_3.sem(axis = 1)

access_med.roads_damaged
0      6.437709
1      5.444492
2      6.745375
3      6.368578
4      7.996454
5      8.133853
6      4.078197
99     6.561226
All    6.610299
dtype: float64

In [21]:
household_table_4 = household_indexed_df.pivot_table(index='access_med.facility_closed', margins=True, aggfunc=np.mean)

print(household_table_4)

                                flag   hh_size     mun_id    strata
access_med.facility_closed
0                           0.680851  2.670213  28.606383  4.797872
1                           0.857143  2.775510  31.612245  4.612245
2                           0.733333  2.866667  29.266667  5.200000
3                           0.800000  3.000000  32.250000  5.175000
4                           0.714286  3.214286  27.767857  4.714286
5                           0.790909  3.081818  29.390909  5.054545
6                           0.653846  3.192308  18.961538  3.500000
99                          0.708708  2.877332  29.007602  4.600553
All                         0.713853  2.886329  28.989088  4.627160

In [46]:
household_table_4.sem(axis = 1)

access_med.facility_closed
0      6.526867
1      7.256589
2      6.646212
3      7.368898
4      6.276180
5      6.660996
6      4.177166
99     6.617750
All    6.610299
dtype: float64

In [22]:
household_table_5 = household_indexed_df.pivot_table(index = 'access_med.no_doctors', margins=True, aggfunc=np.mean) 

print(household_table_5)

                           flag   hh_size     mun_id    strata
access_med.no_doctors
0                      0.687500  3.012500  29.150000  4.925000
1                      0.600000  2.733333  22.066667  2.866667
2                      0.666667  2.666667  25.750000  4.166667
3                      0.677419  3.064516  29.225806  4.483871
4                      0.730769  2.961538  29.500000  4.788462
5                      0.750000  3.141304  29.021739  5.032609
6                      0.615385  3.192308  21.153846  3.769231
99                     0.715145  2.870946  29.088265  4.623537
All                    0.713853  2.886329  28.989088  4.627160

In [45]:
household_table_5.sem(axis = 1)

access_med.no_doctors
0      6.625634
1      5.026891
2      5.856539
3      6.667378
4      6.719681
5      6.570456
6      4.707242
99     6.636231
All    6.610299
dtype: float64

In [23]:
household_table_6 = household_indexed_df.pivot_table(index = 'access_med.no_dialysis', margins=True, aggfunc=np.mean) 

print(household_table_6)

                            flag   hh_size     mun_id    strata
access_med.no_dialysis
0                       0.722222  3.000000  29.666667  5.333333
1                       1.000000  3.000000  28.666667  4.333333
2                       0.666667  2.000000  18.333333  3.000000
3                       0.636364  3.454545  24.727273  5.454545
4                       0.750000  2.500000  24.250000  6.250000
5                       0.750000  4.500000  20.500000  4.500000
6                       0.600000  2.800000  20.800000  3.400000
99                      0.713934  2.883113  29.038757  4.622270
All                     0.713853  2.886329  28.989088  4.627160

In [44]:
household_table_6.sem(axis = 1)

access_med.no_dialysis
0      6.728203
1      6.508364
2      4.138796
3      5.476267
4      5.394224
5      4.402148
6      4.672259
99     6.623165
All    6.610299
dtype: float64

In [24]:
household_table_7 = household_indexed_df.pivot_table(index = 'access_med.no_resp_mach', margins=True, aggfunc=np.mean) 

print(household_table_7)

                             flag   hh_size     mun_id    strata
access_med.no_resp_mach
0                        0.554348  3.065217  23.978261  4.282609
1                        0.571429  3.285714  24.142857  3.571429
2                        0.727273  2.954545  28.636364  4.363636
3                        0.742424  3.484848  31.893939  4.484848
4                        0.681159  3.043478  28.405797  4.623188
5                        0.655405  3.506757  28.986486  4.695946
6                        0.674419  3.465116  26.558140  4.604651
99                       0.723001  2.820477  29.149018  4.643058
All                      0.713853  2.886329  28.989088  4.627160

In [43]:
household_table_7.sem(axis = 1)

access_med.no_resp_mach
0      5.392202
1      5.458681
2      6.531666
3      7.290516
4      6.456797
5      6.563421
6      5.968221
99     6.653415
All    6.610299
dtype: float64

In [25]:
household_table_8 = household_indexed_df.pivot_table(index = 'access_med.no_meds', margins=True, aggfunc=np.mean) 

print(household_table_8)

                        flag   hh_size     mun_id    strata
access_med.no_meds
0                   0.781818  2.586364  30.877273  4.895455
1                   0.714286  3.357143  27.285714  4.071429
2                   0.764706  3.029412  25.235294  4.617647
3                   0.720339  3.118644  29.915254  4.694915
4                   0.680982  2.846626  29.711656  4.889571
5                   0.767123  3.205479  30.869863  5.102740
6                   0.818182  2.863636  36.136364  5.545455
99                  0.705267  2.881487  28.631681  4.553060
All                 0.713853  2.886329  28.989088  4.627160

In [42]:
household_table_8.sem(axis = 1)

access_med.no_meds
0      7.080897
1      6.185140
2      5.663286
3      6.816800
4      6.781135
5      7.017509
6      8.321627
99     6.527303
All    6.610299
dtype: float64

In [26]:
household_table_9 = household_indexed_df.pivot_table(index = 'access_med.couldnt_afford', margins=True, aggfunc=np.mean) 

print(household_table_9)

                               flag   hh_size     mun_id    strata
access_med.couldnt_afford
0                          0.773585  2.641509  29.735849  4.358491
1                          1.000000  2.000000  28.000000  5.000000
2                          0.888889  2.666667  31.333333  4.888889
3                          0.555556  4.000000  25.611111  4.055556
4                          0.630435  3.108696  25.891304  4.304348
5                          0.640000  3.400000  26.060000  4.780000
6                          0.684211  3.315789  30.236842  4.657895
99                         0.715769  2.868592  29.068462  4.635951
All                        0.713853  2.886329  28.989088  4.627160

In [41]:
household_table_9.sem(axis = 1)

access_med.couldnt_afford
0      6.825527
1      6.390097
2      7.176422
3      5.743801
4      5.852749
5      5.843715
6      6.887338
99     6.630708
All    6.610299
dtype: float64

In [27]:
household_table_10 = household_indexed_df.pivot_table(index = 'access_med.ot_reasons', margins=True, aggfunc=np.mean) 

print(household_table_10)

                                                        flag   hh_size  \
access_med.ot_reasons
(NA                                                 1.000000  3.000000
*NA                                                 1.000000  7.000000
Atención  en el hogar por médicos voluntarios       0.000000  3.000000
Cama de posiciones ortopédica no se utilizo por...  0.000000  3.000000
Dificultad para obtener alimentos de bebé           0.000000  6.000000
Esposa diabética recurrió  a vecinos con genera...  1.000000  2.000000
Faltaba electricidad para enfriar insulina          1.000000  2.000000
Farmacias cerradas                                  0.000000  4.000000
Integrante se trasladó a New York a recibir ser...  0.000000  3.000000
NA                                                  0.716290  2.884076
Obtuvo bacteria en su pierna debido a las aguas...  0.000000  1.000000
Persona asmática                                    0.000000  2.000000
Problemas gastrointestinales                        0.000000  4.000000
Problemas para mantener el medicamento              0.000000  4.000000
Problemas para recoger medicamentos y conseguir...  0.000000  4.000000
Requerían servicios médicos en Virginia, E.U.       1.000000  5.000000
cama de posiciones  (falta de electricidad )        0.000000  3.000000
la persona se le hacía difícil llegar               1.000000  4.000000
no podía sacar el dinero del banco                  1.000000  2.000000
problemas de crisis de salud mental                 0.000000  2.000000
se fue a Texas a recibir servicios paciente de ...  0.000000  2.000000
went to Florida during the hurricane and return...  0.000000  2.000000
All                                                 0.713853  2.886329

                                                       mun_id    strata
access_med.ot_reasons
(NA                                                 51.000000  6.000000
*NA                                                 21.000000  4.000000
Atención  en el hogar por médicos voluntarios        4.000000  2.000000
Cama de posiciones ortopédica no se utilizo por...  10.000000  2.000000
Dificultad para obtener alimentos de bebé           10.000000  2.000000
Esposa diabética recurrió  a vecinos con genera...  41.000000  6.000000
Faltaba electricidad para enfriar insulina          39.000000  3.000000
Farmacias cerradas                                   5.000000  1.000000
Integrante se trasladó a New York a recibir ser...   5.000000  1.000000
NA                                                  29.064063  4.636364
Obtuvo bacteria en su pierna debido a las aguas...  15.000000  5.000000
Persona asmática                                    14.000000  2.000000
Problemas gastrointestinales                        10.000000  2.000000
Problemas para mantener el medicamento               5.000000  1.000000
Problemas para recoger medicamentos y conseguir...   4.000000  2.000000
Requerían servicios médicos en Virginia, E.U.        7.000000  5.000000
cama de posiciones  (falta de electricidad )        14.000000  2.000000
la persona se le hacía difícil llegar               49.000000  5.000000
no podía sacar el dinero del banco                  38.000000  4.000000
problemas de crisis de salud mental                  4.000000  2.000000
se fue a Texas a recibir servicios paciente de ...   2.000000  5.000000
went to Florida during the hurricane and return...  15.000000  5.000000
All                                                 28.989088  4.627160

In [40]:
household_table_10.sem(axis = 1)

access_med.ot_reasons
(NA                                                                            11.960874
*NA                                                                             4.422952
Atención  en el hogar por médicos voluntarios                                   0.853913
Cama de posiciones ortopédica no se utilizo por falta de electricidad           2.174665
Dificultad para obtener alimentos de bebé                                       2.217356
Esposa diabética recurrió  a vecinos con generadores para guardar insulina.     9.561206
Faltaba electricidad para enfriar insulina                                      9.259005
Farmacias cerradas                                                              1.190238
Integrante se trasladó a New York a recibir servicios médicos.                  1.108678
NA                                                                              6.628281
Obtuvo bacteria en su pierna debido a las aguas que entraron en su casa.        3.424787
Persona asmática                                                                3.201562
Problemas gastrointestinales                                                    2.160247
Problemas para mantener el medicamento                                          1.190238
Problemas para recoger medicamentos y conseguir receta                          0.957427
Requerían servicios médicos en Virginia, E.U.                                   1.258306
cama de posiciones  (falta de electricidad )                                    3.145764
la persona se le hacía difícil llegar                                          11.448253
no podía sacar el dinero del banco                                              8.938447
problemas de crisis de salud mental                                             0.816497
se fue a Texas a recibir servicios paciente de cancer 2 meses                   1.030776
went to Florida during the hurricane and returned January 1 2018                3.329164
All                                                                             6.610299
dtype: float64

In [28]:
household_table_11 = household_indexed_df.pivot_table(index = 'strata', margins=True, aggfunc=np.mean) 

print(household_table_11)

            flag   hh_size     mun_id
strata
1.0     0.204082  2.798834  13.644315
2.0     0.424691  3.051852  17.106173
3.0     0.745192  2.790865  26.862981
4.0     0.792363  2.684964  26.902148
5.0     0.607317  3.153659  25.765854
6.0     0.879386  3.010965  36.317982
7.0     0.927136  2.708543  37.899497
8.0     1.000000  2.867257  42.856195
All     0.713853  2.886329  28.989088

In [39]:
household_table_11.sem(axis = 1)

strata
1.0     4.116343
2.0     5.178469
3.0     8.385803
4.0     8.405603
5.0     7.995649
6.0    11.474114
7.0    12.038208
8.0    13.651501
All     9.084671
dtype: float64

In [35]:
utilities_indexed = df5.set_index(['values', 'sd', 'length'])
utilities_df = utilities_indexed.sort_index()
print(utilities_df)

                            strata              resource       resource_cat
values    sd        length
24.411079 30.528533 343.0      1.0        water_tot_mean              Water
26.864198 29.720127 405.0      2.0        water_tot_mean              Water
33.353365 33.259442 416.0      3.0        water_tot_mean              Water
37.747017 32.808754 419.0      4.0        water_tot_mean              Water
38.324390 34.263179 410.0      5.0        water_tot_mean              Water
39.697368 36.066247 456.0      6.0        water_tot_mean              Water
45.464824 37.322241 398.0      7.0        water_tot_mean              Water
48.252212 36.342277 452.0      8.0        water_tot_mean              Water
54.075802 38.180781 343.0      1.0         cell_tot_mean  Cellular Coverage
56.740385 36.400581 416.0      3.0         cell_tot_mean  Cellular Coverage
58.624691 33.841760 405.0      2.0         cell_tot_mean  Cellular Coverage
61.851312 34.974904 343.0      1.0  electricity_tot_mean        Electricity
62.121718 35.792624 419.0      4.0         cell_tot_mean  Cellular Coverage
63.010965 33.375221 456.0      6.0         cell_tot_mean  Cellular Coverage
67.443902 33.377196 410.0      5.0         cell_tot_mean  Cellular Coverage
69.690265 33.067647 452.0      8.0         cell_tot_mean  Cellular Coverage
71.737981 34.289639 416.0      3.0  electricity_tot_mean        Electricity
75.040201 32.794043 398.0      7.0         cell_tot_mean  Cellular Coverage
77.916468 30.995835 419.0      4.0  electricity_tot_mean        Electricity
78.962719 27.821107 456.0      6.0  electricity_tot_mean        Electricity
80.451852 31.910546 405.0      2.0  electricity_tot_mean        Electricity
86.317073 26.289938 410.0      5.0  electricity_tot_mean        Electricity
87.070352 24.632719 398.0      7.0  electricity_tot_mean        Electricity
91.042035 26.043721 452.0      8.0  electricity_tot_mean        Electricity

In [38]:
utilities_df.sem(axis = 1)

values     sd         length
24.411079  30.528533  343.0    NaN
26.864198  29.720127  405.0    NaN
33.353365  33.259442  416.0    NaN
37.747017  32.808754  419.0    NaN
38.324390  34.263179  410.0    NaN
39.697368  36.066247  456.0    NaN
45.464824  37.322241  398.0    NaN
48.252212  36.342277  452.0    NaN
54.075802  38.180781  343.0    NaN
56.740385  36.400581  416.0    NaN
58.624691  33.841760  405.0    NaN
61.851312  34.974904  343.0    NaN
62.121718  35.792624  419.0    NaN
63.010965  33.375221  456.0    NaN
67.443902  33.377196  410.0    NaN
69.690265  33.067647  452.0    NaN
71.737981  34.289639  416.0    NaN
75.040201  32.794043  398.0    NaN
77.916468  30.995835  419.0    NaN
78.962719  27.821107  456.0    NaN
80.451852  31.910546  405.0    NaN
86.317073  26.289938  410.0    NaN
87.070352  24.632719  398.0    NaN
91.042035  26.043721  452.0    NaN
dtype: float64